%p
  = link_to 'New Crop', new_planting_task_path,  class:  'btn btn-primary'
- @scopes.each do |scope|
  .btn.scope{data: {name: scope.to_s.titleize }}= link_to "#{scope.to_s.titleize}", root_path(scope: scope)
- if @tasks.empty?
  %h2 No matching crops
- else
  %h2
    - if @scope
      - if @scope == "planted_on"
        Planted On
        = @date
      - else
        %span.scope-name= @scope.to_s.titleize
    - else
      All crops
  %table.table.table-hover.table-bordered
    %thead
      %tr
        %th Name
        %th Plant By
        %th Planted On
        %th Harvested On
    %tbody
      - @tasks.each do |task|
        %tr
          %td
            %strong= link_to task.name, edit_planting_task_path(task)
          %td.text-info= task.ideal_planting_date
          - if task.planted_at?
            %td.text-info= link_to_date(task.planted_at)
          - else
            %td
          - if task.completed?
            %td.text-success= task.completed.strftime("%m/%d/%y")
          - else
            %td
          %td.text-info= link_to "Delete", planting_task_path(task), method: :delete

